:root {
  --primary: #009688;
}


* {
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  
}

/* scrollBar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #bfbfbf;
}
::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}