.main {
  width: 1440px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.bgImage {
  height: 491px;
  position: relative;
}
.content {
  position: absolute;
}
.content_titel {
  width: 1072px;
  height: 44px;
  color: white;
  margin-top: 110px;
}
.content_titel h1 {
  font-size: 96px;
  font-weight: 700;
}
.content_titel h4 {
  font-weight: 400;
  font-size: 24px;
}
.box {
  width: 1070px;
  height: 253px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 10px solid --primary;
  margin-top: 10px;
  border: 1px solid #009688;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.box_tabs {
  width: 1070px;
  height: 65px;
  display: flex;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom: 1px solid #009688;
  color: black;
}

.box_tabs_items {
  width: 1006px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 32px 0px 32px;
}

.box_tabs_item {
  width: fit-content;
  margin-right: 30px;
  display: flex;
  align-items: center;
}
.box_tabs_item span {
  margin-left: 10px;
  font-weight: 700;
  font-size: 18px;
  width: max-content;
}
.box_tabs_icon {
  font-size: 16px;
}
.box_contents {
  width: 1070px;
  height: 188px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box_content_inputs {
  width: 1006px;
  height: 154px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.box_content_input {
  width: 45%;
  height: 40px;
  border-radius: 50%;
}

.box_content_up {
  width: 1006px;
  height: 45px;
  display: flex;
  justify-content: space-between;
}
.box_content_middle {
  width: 1006px;
  height: 45px;
  display: flex;
  justify-content: space-between;
}

.box_content_down {
  width: 1006px;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box_content_down_button {
  width: 49%;
  height: 40px;
  border: none;
  border-radius: 10px;
  margin-top: 6px;
}
@media screen and (max-device-width: 375px) {
  .main {
    width: 375px;
    height: 100vh;
  }
  .bgImage {
    width: 100%;
    height: 100%;
  }
  .content {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content_titel {
    width: 100%;
    height: 30px;
    margin-top: 70px;
  }
  .content_titel h1 {
    font-size: 36px;
  }
  .content_titel h4 {
    font-size: 14px;
    font-weight: 700;
  }
  .box {
    width: 100%;
    height: 700px;
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .box_tabs {
    width: 100%;
    height: 280px;
    border-bottom: none;
  }

  .box_tabs_items {
    width: 100%;
    height: 280px;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    background-color: transparent;
    border: none;
    margin: 0;
    gap: 3px;
  }
  .box_tabs_item {
    width: 56px;
    height: 48px;
    background-color: white;
    border: 1px solid #009688;
    color: #009688;
    font-size: medium;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
  }

  .box_tabs_item span {
    font-size: 12px;
    margin-left: 0;
  }
  .box_tabs_icon {
    font-size: 20px;
  }
  .box_contents {
    width: 100%;
    height: 297px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #009688;
    border-radius: 16px;
    padding: 16px;
    background-color: white;
  }
  .box_content_inputs {
    width: 100%;
    height: 40%;
  }
  .box_content_up {
    width: 100%;
  }
  .box_content_middle {
    width: 100%;
    height: 100px;
    margin-top: 10px;
  }

  .box_content_down {
    width: 100%;
    flex-direction: column;
    height: 100px;
    align-items: flex-end;
  }
  .box_content_down_button {
    margin-top: 16px;
  }
.box_content_down_button{
  width: 300px;
  height: 50px;
}
}